$sc-font-family: 'Montserrat', sans-serif;
$sc-title-font-size: 24px;
$sc-body-font-size: 22px;
$sc-card-font-size: 14px;

$sc-bigtitle-large-font-size: 58px;
$sc-bigtitle-small-font-size: 32px;

$sc-form-font-size: 16px;

$sc-dark-gray: #333;
$sc-medium-gray: #777;
$sc-light-gray: #bbb;
$sc-lighter-gray: #eee;

$sc-blue: #03a9f4;
$sc-light-blue: #b3e5fc;
$sc-dark-blue: #0288d1;

$width-sm: 768px;
$width-md: 992px;
$width-lg: 1200px;

$width-form: 471px;

$container-width: 1000px;
$upper-bar-height: 50px;

$elem-height: 50px;
$form-container-width: 430px;
$elem-width-small: 100px;
$elem-margin: 5px;
$elem-width-large: $elem-width-small * 2 + $elem-margin * 2;
$elem-width-x-large: $elem-width-small * 4 + $elem-margin * 6;

$lightbox-padding: 20px;

body {
  font-family: $sc-font-family;
  line-height: 1.8em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

strong {
  font-weight: 700;
}

.upper-bar {
  font-size: $sc-title-font-size;
  background-color: $sc-blue;
  height: $upper-bar-height;
  line-height: $upper-bar-height;
}

.upper-bar .upper-bar-wrapper {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 20px;
}

.upper-bar i {
  color: white;
}

.title {
  background-image: url('../assets/images/bigtitleimg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  color: white;
  text-shadow: $sc-dark-gray 2px 2px 2px;
  text-align: center;
}

.title h1 {
  font-size: $sc-bigtitle-large-font-size;
  line-height: 1.5em;
  font-weight: bold;
  padding: 50px;

  @media (max-width: $width-sm - 1) {
    font-size: $sc-bigtitle-large-font-size 0.8;
  }
}

.title h1 .and {
  font-family: Georgia, serif;
  font-size: $sc-bigtitle-large-font-size * 1.7;
  font-style: italic;

  @media (max-width: $width-sm - 1) {
    font-size: $sc-bigtitle-large-font-size * 1.7 * 0.6;
  }
}

.title h2 {
  font-size: $sc-bigtitle-small-font-size;
  line-height: 1.3em;
  padding: 50px;

  @media (max-width: $width-sm - 1) {
    font-size: $sc-title-font-size;
    line-height: 1.6em;
  }
}

.title h2 a {
  color: white;
  text-decoration: underline;
}

.title-button-wrapper {
  padding: 50px 0 130px;
}

.title .title-button {
  background-color: $sc-blue;
  color: white;
  text-shadow: none;
  font-size: $sc-bigtitle-small-font-size * 0.8;
  width: 400px;
  text-decoration: none;
  padding: 13px 70px;

  @media (max-width: $width-sm - 1) {
    font-size: $sc-title-font-size;
  }
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 20px;
}

.section-title {
  font-size: $sc-title-font-size;
  color: $sc-dark-gray;
  margin-bottom: 10px;
}

.section-body {
  font-size: $sc-body-font-size;
  color: $sc-medium-gray;
  margin-bottom: 10px;
}

.artist-detail {
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
          transition: all .5s ease;
  position: relative;
  z-index: -10;
  opacity: 0;
  max-height: 0px;
}

.artist-detail img {
  width: 100%;
}

.card-list {
  margin: -10px;

  &:after {
    display: table;
    clear: both;
    content: "";
  }
}

.card {
  font-size: $sc-card-font-size;
  line-height: 1.3em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 20%;
  padding: 10px;
  float: left;

  @media (max-width: $width-sm - 1) {
    width: (100% / 2);
    height: 500px;
  }

  @media (min-width: $width-sm) {
    width: (100% / 3);
    height: 400px;
  }

  @media (min-width: $width-md) {
    width: (100% / 4);
    height: 400px;
  }
}

.card p {
  margin: 8px 10px;
}

.card .lock {
  text-align: right;
  font-size: $sc-card-font-size * 1.2;
}

.card .lock .locked {
  color: $sc-light-blue;
}

.card .lock .not-locked {
  color: $sc-lighter-gray;
}

.card-title {
  color: $sc-dark-gray;
}

.card-body {
  color: $sc-medium-gray;
}

.card-wrapper {
  border: 1px solid $sc-lighter-gray;
}

.card-wrapper img {
  width: 100%;
}

.charity {
  @media (max-width: $width-sm - 1) {
    width: (100%);
  }

  @media (min-width: $width-sm) {
    width: (100% / 2);
  }

  @media (min-width: $width-md) {
    width: (100% / 3);
  }

  @media (min-width: $width-lg) {
    width: (100% / 3);
  }
}

.footer {
  font-size: $sc-card-font-size;
  color: $sc-light-gray;
}

// FORM

.form-container {
  max-width: $form-container-width;
  margin: auto;
}

.btn-value-container {
  margin: 0 (-$elem-margin);

  @media (max-width: $width-form) {
    margin: 0;
  }
}

.btn {
  cursor: pointer;
  font-family: $sc-font-family;
  font-size: $sc-form-font-size;
  color: $sc-medium-gray;
  box-sizing: border-box;
  height: $elem-height;
  margin: $elem-margin;
  background-color: transparent;
  border: 1px solid $sc-lighter-gray;
}

.btn-selected {
  border: 0px solid $sc-lighter-gray;
  background-color: $sc-light-blue;
  color: $sc-dark-blue;
}

.btn-value {
  width: $elem-width-small;

  @media (max-width: $width-form) {
    margin: ($elem-margin) (0px);
    width: 50%;
  }
}

.btn-customize {
  width: $elem-width-large;

  @media (max-width: $width-form) {
    margin: ($elem-margin) (0px);
    width: 100%;
  }
}

.input-container {
  position: relative;
}

.icon-input {
  color: $sc-medium-gray;
  position: absolute;
  top: 2px;
  left: 15px;
}

.icon-input-with-padding {
  color: $sc-medium-gray;
  position: absolute;
  top: 2px;
  left: 20px;
}

.input-sc {
  font-family: $sc-font-family;
  font-size: $sc-form-font-size;
  color: $sc-medium-gray;
  box-sizing: border-box;
  height: $elem-height;
  margin: $elem-margin;
  background-color: transparent;
  border: 1px solid $sc-lighter-gray;
  padding-left: 10px;
  width: $elem-width-large;

  @media (max-width: $width-form) {
    margin: ($elem-margin) (0px);
    width: 100%;
  }
}

.form-text {
  color: $sc-medium-gray;
  font-size: $sc-card-font-size;
  margin: 10px 0px;
}

.input-large {
  width: $elem-width-x-large;

  @media (max-width: $width-form) {
    width: 100%;
  }
}

.input-email {
  margin: 0;
}

.input-with-icon {
  padding-left: 45px;
}

.select-container {
  position: relative;
}

.select-form {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  height: $elem-height;
  width: $elem-width-large;
  padding-left: 10px;
  font-family: $sc-font-family;
  font-size: $sc-form-font-size;
  color: $sc-medium-gray;
  box-sizing: border-box;
  border: 1px solid $sc-lighter-gray;
  border-radius: 0;
  margin: $elem-margin;

  @media (max-width: $width-form) {
    margin: ($elem-margin) (0px);
    width: 100%;
  }
}

.icon-select {
  color: $sc-medium-gray;
  position: absolute;
  top: 2px;
  right: 15px;
  z-index: -10;
}

.btn-submit {
  margin: $elem-margin 0px;
  width: $elem-width-x-large;
  border-width: 0px;
  background-color: $sc-blue;
  color: white;

  @media (max-width: $width-form) {
    width: 100%;
  }
}

.btn-loading {
  background-color: $sc-light-blue;
  color: $sc-dark-blue;
}

.control-freak-values-container {
  margin: 0 (-$elem-margin) ($elem-margin) (-$elem-margin);

  @media (max-width: $width-form) {
    margin: ($elem-margin) 0;
    width: 0;
  }
}

.input-custom {
  width: $elem-width-x-large;
  padding-left: 120px;

  @media (max-width: $width-form) {
    width: 100%;
  }
}

.label-custom-left {
  color: $sc-light-gray;
  position: absolute;
  top: 17px;
  left: 15px;
  z-index: -10;
}

.label-custom-right {
  color: $sc-light-gray;
  position: absolute;
  top: 17px;
  right: 15px;
  z-index: -10;
}

// ARTIST DETAILS

.lightbox-hide {
  display: none;
}

.lightbox-show {
  display: block;
}

.lightbox-bg {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}

.lightbox {
  font-size: $sc-card-font-size;
  overflow-y: scroll;
  z-index: 200;
  width: 50%;
  height: 90%;
  background: white;
  border: 1px solid $sc-lighter-gray;
  margin: 30px auto;

  @media (max-width: $width-sm - 1) {
    width: 90%;
  }

  @media (min-width: $width-sm) {
    width: 70%;
  }

  @media (min-width: $width-md) {
    width: 60%;
  }

  @media (min-width: $width-lg) {
    width: 50%;
  }
}

.lightbox-header {
  position: relative;
  padding: $lightbox-padding;
  border-bottom: 1px solid $sc-lighter-gray;
}

.lightbox-header-title {
  font-size: $sc-title-font-size;
}

.lightbox-close {
  position: absolute;
  right: 20px;
  top: 18px;
  color: $sc-light-gray;
}

.lightbox-close-footer {
  position: absolute;
  right: 20px;
  bottom: 7px;
  color: $sc-light-gray;
}

.lightbox-artist-img {
  width: 100%;
}

.lightbox-body {
  padding: $lightbox-padding;
}

.lightbox-footer {
  position: relative;
  padding: $lightbox-padding;
  border-top: 1px solid $sc-lighter-gray;
}

.lightbox-artist-description {
  line-height: 1.5em;
  border-bottom: 1px solid $sc-lighter-gray;
  padding-bottom: $lightbox-padding;
}

.lightbox-album-title {
  font-size: $sc-body-font-size;
  padding: ($lightbox-padding) 0px;
}

.track-player {
  width: 2%;
  float: left;
}

.track-number {
  color: $sc-light-gray;
  width: 8%;
  text-align: right;
  padding-right: 2%;
  float: left;
}

.track-title {
  width: 85%;
}

.track-composers {
  color: $sc-light-gray;
}

.track-space {
  width: 12%;
  float: left;
}

.blue {
  color: $sc-blue;
}

// THANK YOU

.btn-download {
  margin: $elem-margin 0px;
  width: 100%;
}

.btn-download-main {
  border-width: 0px;
  background-color: $sc-blue;
  color: white;
}







