$elem-haight: 50px;
$form-container-width: 430px;
$btn-width-small: 100px;

.form-container {
  width: $form-container-width;
  margin: auto;
}

.btn-value-container {
  margin: 0 -5px;
}

.btn-value {
  box-sizing: border-box;
  width: $btn-width-small;
  height: $elem-haight;
  margin: 5px;
}