$sc-font-family: 'Montserrat', sans-serif;
$sc-title-font-size: 24px;
$sc-body-font-size: 22px;
$sc-card-font-size: 14px;

$sc-bigtitle-large-font-size: 58px;
$sc-bigtitle-small-font-size: 32px;

$sc-form-font-size: 16px;

$sc-dark-gray: #333;
$sc-medium-gray: #777;
$sc-light-gray: #bbb;
$sc-lighter-gray: #eee;

$sc-blue: #03a9f4;
$sc-light-blue: #b3e5fc;
$sc-dark-blue: #0288d1;

$width-sm: 768px;
$width-md: 992px;
$width-lg: 1200px;

$container-width: 1000px;
$upper-bar-height: 50px;

$elem-height: 50px;
$form-container-width: 430px;
$elem-width-small: 100px;
$elem-margin: 5px;
$elem-width-large: $elem-width-small * 2 + $elem-margin * 2;
$elem-width-x-large: $elem-width-small * 4 + $elem-margin * 6;

body {
  font-family: $sc-font-family;
  line-height: 1.8em;
}

strong {
  font-weight: 700;
}

.upper-bar {
  font-size: $sc-title-font-size;
  background-color: $sc-blue;
  height: $upper-bar-height;
  line-height: $upper-bar-height;
}

.upper-bar .upper-bar-wrapper {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 20px;
}

.upper-bar i {
  color: white;
}

.title {
  background-image: url('../assets/images/bigtitleimg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  color: white;
  text-shadow: $sc-dark-gray 2px 2px 2px;
  text-align: center;
}

.title h1 {
  font-size: $sc-bigtitle-large-font-size;
  line-height: 1.5em;
  font-weight: bold;
  padding: 50px;

  @media (max-width: $width-sm - 1) {
    font-size: $sc-bigtitle-large-font-size 0.8;
  }
}

.title h1 .and {
  font-family: Georgia, serif;
  font-size: $sc-bigtitle-large-font-size * 1.7;
  font-style: italic;

  @media (max-width: $width-sm - 1) {
    font-size: $sc-bigtitle-large-font-size * 1.7 * 0.6;
  }
}

.title h2 {
  font-size: $sc-bigtitle-small-font-size;
  line-height: 1.3em;
  padding: 50px;

  @media (max-width: $width-sm - 1) {
    font-size: $sc-title-font-size;
    line-height: 1.6em;
  }
}

.title h2 a {
  color: white;
  text-decoration: underline;
}

.title-button-wrapper {
  padding: 50px 0 130px;
}

.title .title-button {
  background-color: $sc-blue;
  color: white;
  text-shadow: none;
  font-size: $sc-bigtitle-small-font-size * 0.8;
  width: 400px;
  text-decoration: none;
  padding: 13px 70px;

  @media (max-width: $width-sm - 1) {
    font-size: $sc-title-font-size;
  }
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 20px;
}

.section-title {
  font-size: $sc-title-font-size;
  color: $sc-dark-gray;
  margin-bottom: 10px;
}

.section-body {
  font-size: $sc-body-font-size;
  color: $sc-medium-gray;
  margin-bottom: 10px;
}

.artist-detail {
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
          transition: all .5s ease;
  position: relative;
  z-index: -10;
  opacity: 0;
  max-height: 0px;
}

.artist-detail img {
  width: 100%;
}

.card-list {
  margin: -10px;

  &:after {
    display: table;
    clear: both;
    content: "";
  }
}

.card {
  font-size: $sc-card-font-size;
  line-height: 1.3em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 20%;
  padding: 10px;
  float: left;

  @media (max-width: $width-sm - 1) {
    width: (100% / 2);
  }

  @media (min-width: $width-sm) {
    width: (100% / 3);
  }

  @media (min-width: $width-md) {
    width: (100% / 4);
  }

  @media (min-width: $width-lg) {
    width: (100% / 6);
  }
}

.card p {
  margin: 8px 10px;
}

.card .lock {
  text-align: right;
  font-size: $sc-card-font-size * 1.2;
}

.card .lock .locked {
  color: $sc-light-blue;
}

.card .lock .not-locked {
  color: $sc-lighter-gray;
}

.card-title {
  color: $sc-dark-gray;
}

.card-body {
  color: $sc-medium-gray;
}

.card-wrapper {
  border: 1px solid $sc-lighter-gray;
}

.card-wrapper img {
  width: 100%;
}

.charity {
  @media (max-width: $width-sm - 1) {
    width: (100%);
  }

  @media (min-width: $width-sm) {
    width: (100% / 2);
  }

  @media (min-width: $width-md) {
    width: (100% / 3);
  }

  @media (min-width: $width-lg) {
    width: (100% / 3);
  }
}

.footer {
  font-size: $sc-card-font-size;
  color: $sc-light-gray;
}

// FORM

.form-container {
  width: $form-container-width;
  margin: auto;
}

.btn-value-container {
  margin: 0 -5px;
}

.btn {
  cursor: pointer;
  font-family: $sc-font-family;
  font-size: $sc-form-font-size;
  color: $sc-medium-gray;
  box-sizing: border-box;
  height: $elem-height;
  margin: $elem-margin;
  background-color: transparent;
  border: 1px solid $sc-lighter-gray;
}

.btn-selected {
  border: 0px solid $sc-lighter-gray;
  background-color: $sc-light-blue;
  color: $sc-dark-blue;
}

.btn-value {
  width: $elem-width-small;
}

.btn-customize {
  width: $elem-width-large;
}

.input-container {
  position: relative;
}

.icon-input {
  color: $sc-medium-gray;
  position: absolute;
  top: 2px;
  left: 15px;
}

.input-sc {
  font-family: $sc-font-family;
  font-size: $sc-form-font-size;
  color: $sc-medium-gray;
  box-sizing: border-box;
  height: $elem-height;
  margin: $elem-margin;
  background-color: transparent;
  border: 1px solid $sc-lighter-gray;
  padding-left: 10px;
  width: $elem-width-large;
}

.form-text {
  color: $sc-medium-gray;
  font-size: $sc-card-font-size;
}

.input-large {
  width: $elem-width-x-large;
}

.input-email {
  margin: 0;
}

.input-with-icon {
  padding-left: 45px;
}

.select-container {
  position: relative;
}

.select-form {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  height: $elem-height;
  width: $elem-width-large;
  padding-left: 10px;
  font-family: $sc-font-family;
  font-size: $sc-form-font-size;
  color: $sc-medium-gray;
  box-sizing: border-box;
  border: 1px solid $sc-lighter-gray;
  border-radius: 0;
  margin: $elem-margin;
}

.icon-select {
  color: $sc-medium-gray;
  position: absolute;
  top: 2px;
  right: 15px;
  z-index: -10;
}